extends layout

block title
  title roka. / #{page.title}
  meta(property='og:title', content='roka. / #{page.title}')

prepend content
  - var latest = _.chain(contents.projects._.directories).map(function(item) {
  -   return item.index;
  - }).compact().sortBy(function(item) {
  -   return -item.date;
  - }).first().value()

block content
  article.content.project

    header
      h1 Projects

    - var projects = _.chain(contents.projects._.directories).map(function(item) {
    -   return item.index;
    - }).compact().sortBy(function(item) {
    -   return -item.date;
    - }).value();
      each project in projects
        secton(id='#{project.title}')
          div.row
            div.span4
              a.local(href=project.url, title=project.title)
                h2 #{project.title}
              != project.html
            div.span8
              a.local(href=project.url, title=project.title)
                img(src='#{project.url}photo.jpg', alt=project.title)





          //li
            figure.in-project-list
              a.local(href=project.url, title=project.title)
                img(src='#{project.url}thumb.jpg', alt=project.title)
                figcaption= project.title
            p #{project.metadata.subtitle}
